*{
    margin: 0;
    padding: 0;
}

#content{
    display: grid;
    grid-template-rows: 130px 1fr 30px;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: grey;
    padding: 15px;
}

#menu{
    font-size: 2.2rem;
}

#header-img{
    width: 100px;
}

#content-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

aside{
    padding-top: 25px;
    padding-left: 10px;
    background-color: #d3d3d3;
}

.menu-img{
    width: 30px;
}

aside ul{
    list-style: none;
}

aside ul li{
    margin-bottom: 10px;
}

.menu-button{
    padding: 5px 20px 5px 20px;

    display: flex;
    align-items: center;
    width: 175px;

    border: none;
    background-color: white;

    transition: 0.3s;

    
}

.menu-button:hover{
    background-color: rgb(213, 255, 135);
    box-shadow: -1px 12px 24px 0px rgba(66, 68, 90, 0.21);
    border-radius: 10px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;

    padding-top: 5px;
    padding-bottom: 5px;

    border: none;
    background-color: white;

    transition: 0.3s;
}

#add-button:hover{
    background-color: rgb(230, 255, 184);

    border-radius: 10px;
}

#todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#add-todo{
    padding: 5px;
}

#add-todo-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    margin-top: 5px;
}

#add-todo-buttons button{
    width: 85px;
    border: none;

    padding-top: 6px;
    padding-bottom: 6px;
}

#add{
    background-color: rgb(201, 255, 119);
}

#cencle{
    margin-left: 5px;
    background-color: rgb(255, 129, 129);
}

.task{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
    gap: 10px;
}

.done-button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.done-button img{
    width: 30px;
}

.project-button{
    padding: 5px 20px 5px 20px;

    display: flex;
    align-items: center;
    width: 145px;
    height: 35px;

    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.delete-project{
    margin-top: -20px;
}

#project-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-project-container{
    display: flex;
    align-items: flex-end;

    background-color: white;

    width: 170px;
    padding-right: 5px;
    transition: 0.3s;
}

.single-project-container:hover{
    background-color: rgb(213, 255, 135);
    box-shadow: -1px 12px 24px 0px rgba(66, 68, 90, 0.21);
    border-radius: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.low{
    background-color: hsla(84, 100%, 59%, 0.3);
}

.medium{
    background-color: rgba(255, 255, 0, 0.3);
}

.hight{
 background-color: rgba(255, 0, 0, 0.3);
}

#tasks-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
