*{
    margin: 0;
    padding: 0;
}

#content{
    display: grid;
    grid-template-rows: 130px 1fr 30px;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: grey;
    padding: 15px;
}

#menu{
    font-size: 2.2rem;
}

#header-img{
    width: 100px;
}

#content-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

aside{
    padding-top: 25px;
    padding-left: 10px;
    background-color: aquamarine;
}

.menu-img{
    width: 30px;
}

aside ul{
    list-style: none;
}

aside ul li{
    margin-bottom: 10px;
}

.menu-button{
    padding: 5px 20px 5px 20px;

    display: flex;
    align-items: center;
    width: 175px;

    border: none;
    background-color: white;

    transition: 0.3s;
}

.menu-button:hover{
    background-color: rgb(230, 255, 184);

    border-radius: 10px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;

    padding-top: 5px;
    padding-bottom: 5px;

    border: none;
    background-color: white;

    transition: 0.3s;
}

#add-button:hover{
    background-color: rgb(230, 255, 184);

    border-radius: 10px;
}